@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

*, *::before, *::after{ box-sizing:inherit; }
html {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    box-sizing: border-box;
    font-size: 62.5%;
    font-weight: 400;
}
/* 백그라운드 컬러 적용 */
body { position: relative; }
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90rem;
    background: rgba(242,233,216,1);
    z-index: -100;
}
/* 전체 요소 가운데 정렬 */
.header, .main, .footer {
    width: 66.666vw;
    margin: 0 16.666vw;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    }

/* 헤더 고정  */
.container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(242, 233, 216, 1);
}
/* 헤더 시작 */
.header {
    height: 10.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
#mobile-nav, #mobile-nav-ul {
    display: none;
}
.navs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-normal {
    margin-right: 4rem; 
    display: flex;
    flex-direction: row;

    font-size: 1.6rem;
}
.normal {
    margin: 0 3rem;
}
.download {
    background-color: rgba(217,118,82,1);
    width: 14rem;
    height: 5rem;
    border-radius: 4rem;

    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-align: center;
    vertical-align: middle;
}

/* main시작 */
/* 섹션1 메인페이지 */
.main-page {
    display: flex;
    height: 80rem;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 10.2rem;
    /* 마진은 고정된 헤더만큼 아래로 내려준것 */
}
.sec1-left,
.sec1-right {
    max-width: 50%;
    box-sizing: border-box;
}
.sec1-left h3 {
    margin-top: 20rem;

    font-size: 4.8rem;
    font-weight: 700;
    line-height: 100%;
    vertical-align: middle;
}
.sec1-left .sec1-left-cont {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    line-height: 100%;
}
.sec1-left button {
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
}
/* fb: 가독성을 위한 이미지 크기 %로 변경 */
.sec1-right img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    margin-top: 3.2rem;
}

/* 섹션2- 이미지-텍스트 배열 */
.img-page {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 11rem;
}
.hodu-main-img img {
    width: 100%;
    aspect-ratio: 660 / 390;
    border-radius: 3rem;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);

    object-fit: cover;
    object-position: center;
}
.img-head {
    font-size: 3.6rem;
    font-weight: 700;
}
.img-desc {
    padding-top: 4rem;
    font-size: 1.6rem;
}

/* 섹션3-이미지 3개 배열 */
/* 일단 헤드글씨와 이미지, 설명을 세로배열 */
.img-ul-page {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
}
/* 이미지의 헤드, 설명 */
.ul-text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.ul-head {
    color: rgba(217, 118, 82, 1);
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
}
.ul-desc {
    text-align: center;
    font-size: 1.6rem;
}
.ul-desc .coloring {
        color: rgba(217, 118, 82, 1);
        font-weight: 700;
    }
/* 이미지 3분할 */
.ul-img {
    margin-top: 8.8rem;
}
.imgs-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7.2rem;
}
.imgs-3 img {
    width: 100%;
    border-radius: 3rem;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
}
/* 이미지 하단 설명, 버튼 */
.ul-text2 {
    margin-top: 9rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.learn-desc {
    font-size: 1.6rem;
}
.ul-text2 .button {
    padding: 1.5rem 2.9rem;
    border-radius: 4rem;
    background-color: rgba(217, 118, 82, 1);

    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(255,255,255,1);

    vertical-align: middle;
    text-align: center;
}

/* 섹션4 구독 */
.subscribe {
    margin-top: 9rem;
    margin-bottom: 24.6rem;
    background-color:rgba(38, 49, 64, 1);
    width: 100%;
    height: auto;
    padding: 5rem 5.8rem;
    border-radius: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-head {
    color: rgba(255,255,255,1);
    font-size: 3.6rem;
    font-weight: 700;
}
.sub-desc {
    margin-top: 1.8rem;
    color: rgba(242, 233, 216, 1);
    font-size: 1.4rem;
}
.sub-form {
    margin-right: 5.8rem;
    width: auto;
    height: 6rem;
    background-color: rgba(255,255,255,1);
    border-radius: 6rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub-form img {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin-left: 2.8rem;
}

.sub-form input {
    margin-left: 1.8rem;
    font-size: 1.6rem;
    border: none;
    vertical-align: middle;
    
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}
.sub-form input::placeholder {
    color: rgba(118, 118, 118, 1);
    font-size: 1.6rem;
}
.sub-form button {
    width: 13.6rem;
    height: 5rem;
    border-radius: 4rem;
    background-color: rgba(217, 118, 82, 1);
    margin-right: 0.5rem;

    color: rgba(255,255,255,1);
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    
}
/*  아랫부분 배경화면 */
main {
    position: relative;
    z-index: 0;
}
main::after {
    content: "";
    background-image:
    linear-gradient(rgba(242,233,216,0.6), rgba(242,233,216,0.6)),
    url(../images/img_5.jpg);
    background-position: center, 50% 30%;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    height: 34rem;
    z-index: -10;

    position: absolute;
    left: 50%;
    bottom: -24.6rem;
    transform: translate(-50%);
}
/* 모달창 */
.modal {
    display: none;
}
.modal .modal-div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: url(../images/modal-bg-img.png) center / cover;
    background-color: rgba(255,255,255,1);
    width: 60rem;
    height: 40rem;
    border: none;
    border-radius: 3rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-div img {
    width: 11rem;
    height: 11.2rem;
    margin-top: 6rem;
}
.modal-div h2 {
    color: rgba(217, 118, 82, 1);
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 2.4rem;
}
.modal-div p {
    margin-top: 1.2rem;
    font-weight: 400;
    font-size: 1.4rem;
    vertical-align: middle;
}
.modal-div .m-btn {
    padding: 1.5rem 2.9rem;
    border-radius: 4rem;
    background-color: rgba(217, 118, 82, 1);
    border: none;
    margin-top: 3.8rem;

    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-align: center;
    vertical-align: middle;
}

/* 위로가기 버튼 */
.up-to-pages{
    position: fixed;
    right: 2.4rem;
    bottom: 2.4rem;
    z-index: 1000;
}
.up{
    display: grid;
    place-items: center;
    width: 5rem;
    height: 5rem;
    background-color: rgba(255,255,255,0.8);
    color: rgba(196,196,196,1);

    border: 1px solid rgba(196,196,196,1); 
    border-radius: 50%; 
}
/* 호버 시에 이미지 컬러 바뀌지 않음!! */

.up:hover img {
    color: rgba(118, 118, 118, 1);
}
/* footer */
.footer {
    height: 16rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-logo img {
    width: 22.6rem;
    height: 7rem;
}
.sns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sns li {
    width: 4.2rem;
    height: 4.2rem;
    background-color: rgba(242, 157, 82, 1);
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns li img {
        object-fit: cover;
        object-position: center;
    }
.menu-group {
    display: none;
}

/* !!!!왁자지껄!!! !!!!이목집중!!!! 여기가!!! */
/* 모바일 반응형 시작부분 */
@media screen and (max-width: 620px) {
/* 백그라운드 컬러 조정 */
    body::before {
        height: 79.4rem;
}
/* 가운데 정렬해놓으니 헷갈려서 초기화함 */
.header, .main, .footer {
    width: initial;
    margin: initial;
}

/* 헤더 */
.header {
    height: 7.6rem;
    margin: 2rem 2.4rem
}
#mobile-nav {
    display: block;
}
.navs {
    display: none;
}

/* 메인 */
.main {
    margin: 0 3.2rem;
}
/* sec1 메인페이지 */
.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.sec1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.sec1-left h3 {
    margin-top: 4rem;
    font-size: 2.4rem;
    font-weight: 700;
}
.sec1-left .sec1-left-cont {
    font-size: 1.4rem;
    margin-top: 3rem;
}
.sec1-left button {
    text-align: center;
    vertical-align: middle;
}
.sec1-right img {
    margin-top: 0;
}

/* 메인 섹션2 */
.img-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
    
    text-align: center;
    vertical-align: middle;
}
.hodu-main-img img {
    aspect-ratio: 326 / 190;
    border-radius: 1.8rem;
}
.img-head, .img-desc {
    font-size: 2.4rem;
    text-align: left;
}
.img-desc {
    font-size: 1.4rem;
}
/* sec3 이미지3개 목록있는 부분 */
.img-ul-page {
    margin-top: 6rem;
}
/* 이미지의 헤드, 설명 */
.ul-text1 {
    gap: 3rem;
}
.ul-head {
    font-size: 2.4rem;
}
.ul-desc {
    font-size: 1.6rem;
    line-height: 100%;
}
/* FB 이미지 슬라이더 적용 */
.ul-img {
    overflow-x: scroll;
    white-space: nowrap; 
}
.imgs-3 {
    gap: 2rem;
    display: flex;
}
.imgs-3 img {
    display: block;
    width: 26rem;
    height: 26rem;
}
    
.ul-text2 {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.ul-text2 .button {
    font-size: 1.4rem;
    margin-left: auto;
}
/*섹션4 구독 */
.subscribe {
    margin-top: 5rem;
    margin-bottom: 17.3rem;
    border-radius: 1.8rem;
    padding: 3.6rem 3.2rem 3rem;
    width: auto;
    flex-direction: column;
    align-items: center;
}
.sub-head {
    font-size: 2.4rem;
}
.sub-desc {
    font-size: 1.4rem;
    margin-top: 2rem;
}
.sub-form {
    margin-right: initial;
    margin-top: 2rem;
    width: 100%;
    height: initial;
    background-color: initial;
    border-radius: initial;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.sub-form label {
    background-color: rgba(255,255,255,1);
    width: auto;
    height: 4rem;
    border-radius: 6rem;

    display: flex;
    align-items: center;
    width: 100%;
}
.sub-form img, .sub-form input {
    vertical-align: middle;
}
.sub-form input {
    margin-left: 1.4rem;
    font-size: 1.2rem;
    width: 70%;
}
.sub-form::placeholder {
    font-size: 1.2rem;
    width: 100%;
}
.sub-form button {
    margin-left: auto;
}

/* 아랫부분 배경화면 */
main::after {
    height: 24.1rem;
    bottom: -17.3rem;
}

/* 모달 */
.modal .modal-div{
    width: 30rem;
    height: 30rem;
}
.modal-div img {
    width: 6rem;
    height: 6.2rem;
    margin-top: 4rem;
}
.modal-div h2 {
    font-size: 2.4rem;
}
.modal-div p {
    margin-top: 1.4rem;
    font-size: 1rem;
}
.modal-div .m-btn {
    padding: 1.1rem 2.4rem;
    margin-top: 2.8rem;

    font-size: 1.4rem;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    height: 17.8rem;
    margin-top: 3rem;
    margin-bottom: 2.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 5.8rem;
}
.footer-logo img {
    width: 11.2rem;
    height: 3.4rem;
}
.sns{
    gap: 1.6rem;
}
.sns li {
    width: 3.2rem;
    height: 3.2rem;
}

/* 모바일에서만 보이는 푸터 */
.menu-group {
    display: flex;
    margin-top: 3rem;
    margin-right: 2rem;
    margin-bottom: 2.8rem;
}
.footer-menu {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.6rem;
    align-items: center;
}
.footer-menu li {
    font-size: 1.4rem;
    text-align: end;
    color: rgba(118, 118, 118,1);
}
}