@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

html {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
}
/* 백그라운드 컬러 적용 */
body { position: relative; }
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90rem;
    background: rgba(242,233,216,1);
    z-index: -100;
}
/* 전체 요소 가운데 정렬 */
.header, .main, .footer {
    width: 66.666vw;
    margin: 0 16.666vw;
}
/* 메인태그 복잡해서 전체 플랙스 적용  */
.main {
    display: flex;
    flex-direction: column;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    }

/* 헤더 고정  */
.container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(242, 233, 216, 1);
}

.header {
    height: 10.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.navs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-normal {
    margin-right: 4rem; 
    display: flex;
    flex-direction: row;

    font-size: 1.6rem;
}
.normal {
    margin: 0 3rem;
}
.download {
    background-color: rgba(217,118,82,1);
    width: 14rem;
    height: 5rem;
    border-radius: 4rem;

    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-align: center;
}

/* main시작 */
/* 섹션1 메인페이지 */
.main-page {
    display: flex;
    height: 80rem;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 10.2rem;
    /* 마진은 고정된 헤더만큼 아래로 내려준것 */
}
.sec1-left,
.sec1-right {
    max-width: 50%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.sec1-left h2 {
    margin-top: 20rem;
    max-width: 100%;
    height: 12rem;

    font-size: 4.8rem;
    font-weight: 700;
    line-height: 100%;
}
.sec1-left div {
    margin-top: 4rem;
    font-size: 1.6rem;
}
.sec1-left button {
    text-align: center;
    line-height: 5rem;
}
/* fb: 가독성을 위한 이미지 크기 %로 변경 */
.sec1-right img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    margin-top: 3.2rem;
}
/* sec2 이미지-텍스트 배열 */
.img-page {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hodu-main-img {
    width: 66rem;
    height: 39rem;
}
.hodu-main-img img {
    width: 66rem;
    height: 39rem;
    height: 39rem;
    border-radius: 3rem;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);

    object-fit: cover;
    object-position: center;
}
.hodu-desc {
    padding-left: 11rem;
}
.img-head {
    width: 51rem;
    height: 13.5rem;
    font-size: 3.6rem;
    font-weight: 700;
}
.img-desc {
    padding-top: 4rem;
    font-size: 1.6rem;
}
/* sec3 이미지 3개 배열 */
.img-ul-page {
    margin-top: 12rem;
}
.ul-text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.ul-head {
    color: rgba(217, 118, 82, 1);
    font-size: 4.8rem;
    font-weight: 700;
}
.ul-desc {
    text-align: center;
    font-size: 1.6rem;
}
.ul-desc .coloring {
        color: rgba(217, 118, 82, 1);
        font-weight: 700;
    }
.ul-img {
    margin-top: 8.8rem;
}
.imgs-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7.2rem;
}
.imgs-3 img {
    width: 37.8rem;
    height: 37.8rem;
    border-radius: 3rem;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
}
.ul-text2 {
    margin-top: 9rem;
    width: 93.8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.learn-desc {
    margin-left: 17.2rem;
    font-size: 1.6rem;
}
.ul-text2 .button {
    width: 14.7rem;
    height: 5rem;
    border-radius: 4rem;
    background-color: rgba(217, 118, 82, 1);

    font-size: 1.6rem;
    color: rgba(255,255,255,1);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* sec4 구독 */
.subscribe {
    margin-top: 9rem;
    background-color:rgba(38, 49, 64, 1);
    width: 100%;
    height: 20rem;
    border-radius: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub-text {
    margin-left: 5.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-head {
    color: rgba(255,255,255,1);
    font-size: 3.6rem;
    font-weight: 700;
}
.sub-desc {
    margin-top: 1.8rem;
    color: rgba(242, 233, 216, 1);
    font-size: 1.4rem;
}
.sub-form {
    margin-right: 5.8rem;
    width: 53rem;
    height: 6rem;
    background-color: rgba(255,255,255,1);
    border-radius: 6rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub-form img {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin-left: 2.8rem;
}
.sub-form button {
    width: 13.6rem;
    height: 5rem;
    border-radius: 4rem;
    background-color: rgba(217, 118, 82, 1);
    margin-right: 0.5rem;

    color: rgba(255,255,255,1);
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    
}
.sub-form input {
    margin-left: 1.8rem;
    font-size: 1.6rem;
    border: none;
    vertical-align: middle;
    
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}
.sub-form input::placeholder {
    color: rgba(118, 118, 118, 1);
    font-size: 1.6rem;
}

/* 모달창 */
.modal {
    /* display: hidden; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: url(../images/modal-bg-img.png) center / cover;
    background-color: rgba(255,255,255,1);
    width: 60rem;
    height: 40rem;
    border: none;
    border-radius: 3rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
.modal .modal-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-div img {
    width: 11rem;
    height: 11.2rem;
    margin-top: 6rem;
}
.modal-div h2 {
    color: rgba(217, 118, 82, 1);
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 2.4rem;
}
.modal-div p {
    margin-top: 1.2rem;
    font-weight: 400;
    font-size: 1.4rem;
    vertical-align: middle;
}
.modal-div .m-btn {
    width: 18.9rem;
    height: 5rem;
    border-radius: 4rem;
    background-color: rgba(217, 118, 82, 1);
    border: none;
    margin-top: 3.8rem;

    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(255,255,255,1);
    text-align: center;
    vertical-align: middle;
}

/* 위로가기 버튼 */
.up-to-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 5rem;
    height: 5rem;
    background-color: rgba(255,255,255,1);
    color: rgba(196, 196, 196, 1);
    border-radius: 100%;
    
    position: relative;
    left: 100%;
    }
.up-to-pages:hover {
    color: rgba(118, 118, 118, 1);
}
/* footer */
.footer {
    height: 16rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-logo img {
    width: 22.6rem;
    height: 7rem;
}
.sns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sns li {
    width: 4.2rem;
    height: 4.2rem;
    background-color: rgba(242, 157, 82, 1);
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns li img {
        object-fit: cover;
        object-position: center;
    }

/* !!!!왁자지껄!!! !!!!이목집중!!!! 여기가!!! */
/* 모바일 반응형 시작부분 */
@media screen and (max-width: 390px) {
    
    
}